.CountryCardConteiner {
  background-color: rgba(0, 0, 0, 0.452);
  border: 1px solid;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.CountryCard {
  /* Asegura que todas las tarjetas tengan el mismo tamaño */
  flex: 1;
}
.CountryCardConteiner:hover {
  transform: scale(1.05);
}

.CountryCardImg {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
}

.CountryCardh3 {
  margin: 10px 0;
  color: #ffffff;
}

.CountryCardLink {
  display: inline-block;
  padding: 8px 15px;
  background-color: #857d19;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.CountryCardLink:hover {
  background-color: #a57e004f;
}
