/* Estilos para el cuerpo de la página principal */
.HomeBody {
  font-family: "Arial", sans-serif;
  background-image: url("../../assets/images/HomeBack.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.HomeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ResetFiltersButton {
  background-color: #00000050; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 15px; /* Espaciado interno del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.ResetFiltersButton:hover {
  background-color: #000000; /* Cambia el color de fondo al pasar el ratón */
}