.landingBody {
    background-image: url('../../assets/images/pexels-pixabay-41949.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landingButton {
    background-color: #082e4700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.7s;
    outline: none; 
}

.landingButton:hover {
    background-color: #143d58cc;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}


.LandingForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #36313181;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.726);
  }
  
  .LandingForm div {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
  }
  
  .LandingForm input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #444;
    border-radius: 7px;
    background-color: #3333339c;
    color: #ffffff;
  }
  
  .LandingForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #275f6ebb;
    color: #fff;
    cursor: pointer;
  }
  
  .LandingForm button:hover {
    background-color: #4fa3d1; 
  }
  
  .LandingForm span {
    color: #ff4d4d; 
  }
  