/* Estilos para el contenedor principal del componente CountriesCards */

.CountriesCardsContainer {
  gap: 20px;
  padding: 0 90px 0 250px;
  align-items: center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.CountryCardsControls {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 20px; /* Ajusta según sea necesario */
  margin-left: 580px; /* Ajusta según sea necesario */

}

.CountryCardsButton {
  padding: 10px 15px;
  background-color: #857d19;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px; /* Ajusta según sea necesario */
  flex: 1; /* Todos los botones ocupan la misma cantidad de espacio */
}

.CountryCardsButton:disabled {
  background-color: #a57e004f;
}

.CountryCardsButton:hover:enabled {
  background-color: #70671077;
}

.CountryCardsSpan {
  flex: 1; /* El span ocupa la misma cantidad de espacio que los botones */
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin:  20px; /* Ajusta según sea necesario */
}




